<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style2.css">
    <title>F1</title>
</head>
<body>
    <!-- navbar bootstrap -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CARRERAS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link "  href="../../index.html">inicio</a>
              <a class="nav-link" href="#">Circuitos</a>
              <a class="nav-link" href="../views/formulario.html" target="_blank">Registro</a>
              <a class="nav-link " href="https://www.sportingnews.com/ar/formula-1/news/calendario-temporada-2023-f1-fechas-circuitos-grandes-premios/enrpmytjwnirshpzglthy9vs" target="_blank">Calendario</a> 
              
            </div>
          </div>
        </div>
      </nav>
      <!-- carrusel -->
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="imagen1" src="../img/circuitos.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="imagen1" src="../img/circuitos parte 3.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="imagen1" src="../img/circuitos parte 1.jpg" class="d-block w-100" alt="..."> 
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card" >
        <h3 class="F1">Accidentes Formula 1</h3>
        <img src="../img/belgica.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Momento Historico 1998</h5>
          <p class="card-text">Tras la salida de La Source, el McLaren de David Coulthard perdió el control e impactó contra el muro interior de la entrada de boxes alternativa. El escocés rebotó y reingresó en la trayectoria, provocando un tapón y un accidente múltiple en el cual hasta 13 pilotos se vieron involucrados. La cantidad de piezas destrozadas y ruedas voladoras generó una situación tan surrealista como desproporcionada..</p>
          <a href="https://www.caranddriver.com/es/formula-1/g39627090/accidentes-formula-1/" class="formula-1"> SABER MÁS</a>
        </div>
      </div>
      <footer>
        <p>&copy; Ramiro Alexandro secchi 24/11/23</p>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>