<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>F1</title>
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <h1>Inscripcion</h1>
            <p>El mundo de los autos le esta dando una oportunidad a los jovenes de poder cumplir su sueño automovilistico,Anotate ya antes que sea muy tarde.</p> 
             
          
        </div>
    </header>
     <!-- navbar -->
     <nav class="navbar">
        <a href="../../index.html">inicio</a>
        <a href="../views/circuitos.html">circuitos</a>
        <a href="https://www.sportingnews.com/ar/formula-1/news/calendario-temporada-2023-f1-fechas-circuitos-grandes-premios/enrpmytjwnirshpzglthy9vs" target="_blank">Calendario</a>
        <a href="">Registro</a>
       </nav>
       <!-- formulario -->
       <form action="">
        <fieldset>
    <legend>Formulario para ser Piloto de F1</legend>
    <label for="nombre">Nombre</label>
    <input type="text" name="name" id="nombre">
    <label for="apellido">apellido</label>
    <input type="text" name="lname" id="apellido">
    <label for="email">Email</label>
    <input type="email" name="email " id="email">
    <label for="pass">Contraseña</label>
    <input type="password" name="Contraseña" id="pass"> 
    <label for="fecha">Fecha de nacimiento</label>
    <input type="date" name="date" id="fecha">
    <input type="submit" value="REGISTRARSE">
    <input type="reset" value="borrar">
        </fieldset>
       </form>

</body>
</html>